.main-note {
  width: 450px;
  padding: 20px;
  margin: 30px auto;
}

input {
  width: 100%;
  line-height: 50px;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 22px;
}

textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  margin: 15px 0px;
  padding: 5px;
  font-size: 20px;
}

form {
  min-height: 50px;
  background-color: #eaf1f4;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
}

.addbtn {
  width: 45px;
  height: 45px;
  position: relative;
  top: 20px;
  left: 340px;
  cursor: pointer;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  background-color: yellow;
  transition: 0.2s;
}

.addbtn:hover {
  background-color: rgb(100, 253, 100);
}

@media (max-width: 500px) {
  .main-note {
    width: 400px;
  }
  .addbtn {
    left: 290px;
  }
}
